body {
  align-items: center;
  background: rgb(64, 3, 70);
  display: flex;
  justify-content: center;
}

.loginbox {
  align-items: center;
  background: #ff5518;
  border-radius: 2%;
  box-shadow: 0 3px 3px 0 black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  min-height: 300px;
  padding: 40px;
  width: 340px;
}

.input-login {
  background-color: #f3dbbb;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  margin: 0 0 20px;
  padding: 10px 15px;
  width: 340px;
}

.button-login {
  background: #8f2a06;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
  padding: 12px 15px;
  width: 340px;
}

.button-login:hover {
  background-color: #561e0a;
}

.button-disabled {
  background: #692b15;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
  padding: 12px 15px;
  width: 340px;
}

.text-invalid {
  color: rgb(15, 73, 28);
  font-size: 14px;
  margin-bottom: -5px;
  margin-left: 170px;
}

.img-logo {
  height: 130px;
  margin-bottom: 50px;
  width: 200px;
}




.categories {
  margin-top: 50px;
  }
  

  
  .header {
    width: 100%;
    top: 0;
    height: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-size: 14px;
  }
  
  .ruby-bg {
    background-color: #9b1c1c;
  }
  
  .ruby-text {
    color: #9b1c1c;
  }
  
  .blue-bg {
    background-color: #003652;
  }
  
  .blue-text {
    color: #003652;
  }
  
  .yellow-bg {
    background-color: #FCBF49;
  }
  
  .yellow-text {
    color: #FCBF49;
  }
  
  .cornsilk-bg {
    background-color: #F2ECCF;
  }
  
  .cornsilk-text {
    color: #F2ECCF;
  }
  
  .gray-bg {
    background-color: #BDBDBD;
  }
  
  .gray-text {
    color: #BDBDBD;
  }
  
  .invisible-btn {
    background: transparent;
    border: none !important;
  }
  
  .card {
    height: 172px;
    width: 161px;
    text-align: center;
  }
  
  .recipe-title {
    margin-top: 10px;
  }
  
  .recipe-image {
    width: 100%;
    height: 70%;
  }
  
  .recipes-display {
    margin: 70px 0 70px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
