.explore-by-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 360px;
}

.explore-by-links-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 100px 30px;
  max-height: 514px;
  max-width: 360px;
  position: absolute;
}

.explore-by-ingredient {
  background: #6ce34f;
  color: black;
  height: 50px;
  margin: 20px;
  position: relative;
  width: 180px;
}

.explore-by-area {
  background: #6ce34f;
  color: black;
  height: 50px;
  margin: 20px;
  position: relative;
  width: 180px;
}

.explore-surprise {
  background: #6ce34f;
  color: black;
  height: 50px;
  margin: 20px;
  position: relative;
  width: 180px;
}
