.recipes-footer {
  background: #c4c4c4;
  height: 58px;
  position: fixed;
  top: 582px;
  width: 360px;
}

.drinks-icon {
  height: 40px;
  left: 16px;
  position: absolute;
  top: 5px;
  width: 40px;
}

.explore-icon {
  height: 40px;
  left: 160px;
  position: absolute;
  top: 5px;
  width: 40px;
}

.food-icon {
  height: 40px;
  left: 302px;
  position: absolute;
  top: 5px;
  width: 40px;
}
