.recipes-header {
  align-items: center;
  background-color: #c4c4c4;
  border: none;
  display: flex;
  height: 58px;
  justify-content: space-around;
  left: 0;
  position: absolute;
  top: 0;
  background: #c4c4c4;
  height: 58px;
  position: absolute;
  width: 360px;
}

.profile-link {
  align-items: flex-start;
  color: black;
  display: flex;
  height: 30px;
  left: 15px;
  position: absolute;
  top: 12px;
  width: 30px;
}

.search-link {
  align-items: flex-start;
  color: black;
  display: flex;
  height: 30px;
  left: 317px;
  position: absolute;
  top: 12px;
  width: 30px;
}

.header-title {
  align-items: flex-end;
  color: black;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  height: 15px;
  height: 35px;
  left: 123px;
  line-height: 35px;
  position: absolute;
  top: 12px;
  width: 119px;
}
