.recipes-header {
  background: #c4c4c4;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.profile-link {
  height: 30px;
  left: 15px;
  position: absolute;
  top: 12px;
  width: 30px;
}

.search-link {
  height: 30px;
  left: 317px;
  position: absolute;
  top: 12px;
  width: 30px;
}

.header-title {
  align-items: flex-end;
  color: #000000;
  display: flex;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  height: 35px;
  left: 123px;
  line-height: 35px;
  position: absolute;
  top: 12px;
  width: 119px;
}
