.recipe-details-page {
  align-items: center;
  background: white;
  display: flex;
  flex-flow: column wrap;
  max-height: 1483px;
  max-width: 360px;
  position: absolute;
}

.details-conteiner {
  max-width: 360px;
  max-height: 758px;
  position: absolute;
}

.recipe-photo {
  max-height: 155px;
  position: absolute;
  width: 360px;
}

.details-header {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1000px;
  max-height: 90px;
  justify-content: space-between;
  position: absolute;
  top: 5px;
  width: 360px;
}

.details-header-text {
  align-items: flex-end;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  height: 35px;
  line-height: 35px;
  position: absolute;
  width: 182px;
}

.details-header-button {
  align-items: flex-end;
  display: flex;
}

.share-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.clipboard-span {
  background-color: white;
  border-radius: 0 15px;
  margin: 30px -15px;
  padding: 4px;
  position: absolute;
}

.favorite-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.ingredients-conteiner {
  align-items: flex-end;
  display: flex;
  background: lavender;
  border-radius: 4px;
  flex-flow: column wrap;
  margin: 250px;
  max-height: 653px;
  max-width: 360px;
  position: absolute;
}

.ingredients-title {
  color: black;
  font-size: 26px;
  font-style: normal;
  margin: 10px 10px 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 100;
  height: 30px;
  line-height: 35px;
  position: absolute;
  width: 138px;
}

.ingredients-card {
  align-items: flex-start;
  display: flex;
}

.ingredient-name-and-measure {
  color: black;
  font-size: 21px;
  font-style: normal;
  line-height: 25px;
}

.instructions-conteiner {
  background: lavender;
  border-radius: 4px;
}

.suggestion-container {
  display: flex;
  height: 245px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}

.recomendation-card {
  height: 172px;
  margin: 5px 10px;
  text-align: center;
  width: 161px;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}
