.details-page {
  max-height: 1483px;
  position: absolute;
  width: 360px;
}

.recipe-details-page {
  align-items: center;
  background: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: absolute;
  top:0 ;
}

.details-conteiner {
  height: 758px;
  position: absolute;
  top: 1px;
  width: 360px;
}

.recipe-photo {
  height: 180px;
  position: absolute;
  top: 2px;
  width: 360px;
}

.recipe-title {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
  height: 35px;
  line-height: 35px;
  margin: 15px 1px;
  position: absolute;
  top: -30px;
  width: 182px;
}

.recipe-category {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 100;
  height: 25px;
  line-height: 25px;
  margin: 15px 10px;
  width: 73px;
}

.details-header {
  height: 90px;
  position: absolute;
  width: 360px;
}

.details-header-text {
  height: 212px;
  margin: 10px 1px;
  padding: 10px;
  position: absolute;
  top: 125px;
  width: 182px;
}

.details-header-button {
  left: 320px;
  position: absolute;
  top: 115px;
}

.share-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.clipboard-span {
  background-color: white;
  border-radius: 0 15px;
  margin: 12px -15px;
  padding: 4px;
  position: relative;
}

.favorite-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.ingredients-conteiner {
  background: lavender;
  border-radius: 4px;
  height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 200px;
  width: 360px;
}

.ingredients-title {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 100;
  height: 30px;
  line-height: 35px;
  margin: 25px 10px;
  position: absolute;
  top: -25px;
  width: 138px;
}

.ingredients-card {
  list-style: none;
  max-height: 653px;
  position: absolute;
  width: 360px;
}

.ingredient-name-and-measure {
  color: black;
  font-size: 21px;
  font-style: normal;
  line-height: 25px;
  margin: 30px 5px;
  position: relative;
}

.instructions-conteiner {
  background: lavender;
  border-radius: 4px;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 468px;
  width: 360px;
}

.video {
  position: absolute;
  top: 715px;
}

.recipes-suggestion-container {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  top: 995px;
}

.suggestion-container {
  display: flex;
  height: 255px;
  margin: 5px;
  overflow-x: scroll;
  position: relative;
  width: 360px;
}

.recomendation-card {
  height: 152px;
  margin: 10px 20px;
  width: 141px;
}

.recomendation-image {
  width: 155px;
}

.start-recipe-btn {
  bottom: 0px;
  height: 60px;
  padding: 15px;
  position: fixed;
  width: 350px;
}
