.recipe-photo {
  width: 100
}

.details-conteiner {
  margin: 10px 10px 30px;
}

.details-header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.details-header-text {
  color: black;
  line-height: 2px;
  margin: 0;
}

.details-header-button {
  float: right;
}

.share-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.clipboard-span {
  background-color: white;
  border-radius: 0 15px;
  margin: 30px -15px;
  padding: 4px;
  position: absolute;
}

.favorite-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.ingredients-title {
  color: black;
  font-size: 26px;
  font-style: normal;
  font-weight: normal;
  margin: 10px 10px 30px;
}

.ingredients-conteiner {
  background: lavender;
  border-radius: 4px;
}

.ingredient-name-and-measure {
  color: black;
  display: flex;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
}

.instructions-conteiner {
  background: lavender;
  border-radius: 4px;
}

.suggestion-container {
  display: flex;
  overflow: auto;
  padding: 0;
  width: 100%;
}

.recomendation-card {
  height: 172px;
  text-align: center;
  width: 161px;
}

.start-recipe-btn {
  bottom: 0;
  position: fixed;
}
