.email-input {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;  
  font-family: Roboto, 'Lucida Sans Regular';
  font-size: 29px;
  height: 58px;
  left: 31px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 155px;
  width: 293px;
}

.Login {
  align-items: flex-end;
  color: black;
  display: flex;
  font-family: Roboto, 'Lucida Sans Regular';
  font-size: 39px;
  height: 46px;
  left: 128px;
  line-height: 46px;
  position: absolute;
  top: 79px;
  width: 97px;
}

.login-submit-btn {
  background: #6ce34f;
  color: black;
  font-family: Roboto, 'Lucida Sans Regular';
  font-size: 29px;
  height: 76px;
  left: 11px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 389px;
  width: 339px;
}

.password-input {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  color: black;
  font-family: Roboto, 'Lucida Sans Regular';
  font-size: 29px;
  height: 58px;
  left: 30px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 243px;
  width: 293px;
}
