.email-input {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #000000;  
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: normal;
  height: 58px;
  left: 31px;
  line-height: 34px;
  position: absolute;
  text-align: center;
  top: 155px;
  width: 293px;
}

.Login {
  align-items: flex-end;
  color: #000000;
  display: flex;
  top: 79px;
  font-family: Roboto;
  font-size: 39px;
  font-style: normal;
  font-weight: normal;
  height: 46px;
  line-height: 46px;
  left: 128px;
  position: absolute;
  width: 97px;
}

.login-submit-btn{
  background: #6CE34F;
  color: #000000;
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: normal;
  height: 76px;
  line-height: 34px;
  left: 11px;
  text-align: center;
  top: 389px;
  position: absolute;
  width: 339px;
}

.password-input {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #000000;
  font-family: Roboto;
  font-size: 29px;
  font-style: normal;
  font-weight: normal;
  height: 58px;
  line-height: 34px;
  left: 30px;
  text-align: center;
  top: 243px;
  position: absolute;
  width: 293px;
}